<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg ar_model)">
  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="include_gripper" default="false"/>
  <xacro:arg name="include_spraygun" default="true"/>

  <xacro:include filename="$(find annin_ar4_description)/urdf/ar_macro.xacro"/>

  <link name="world" />
  <xacro:ar_robot
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    robot_parameters_file="$(find annin_ar4_description)/config/mk3.yaml"
  >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:ar_robot>

  <!-- グリッパーを追加 -->
  <xacro:if value="$(arg include_gripper)">
    <xacro:include filename="$(find annin_ar4_description)/urdf/ar_gripper_macro.xacro"/>
    <xacro:ar_gripper parent="${tf_prefix}ee_link" /> <!-- tf_prefixを適用 -->
  </xacro:if>

  <!-- スプレーガンを追加 -->
  <xacro:if value="$(arg include_spraygun)">
    <xacro:include filename="$(find annin_ar4_description)/urdf/ar_spraygun_macro.xacro"/>
    <xacro:ar_spraygun parent="${tf_prefix}ee_link" tf_prefix="$(arg tf_prefix)" /> <!-- tf_prefixを適用 -->
  </xacro:if>
</robot>
