<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="ar_spraygun" params="parent tf_prefix">
    <link name="${tf_prefix}spraygun_link">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0.1"/>
        <geometry>
          <mesh filename="file://$(find annin_ar4_description)/meshes/ar4_mk3/spraygun_EE.stl"/>
        </geometry>
        <material name="">
          <color rgba="0.5 0.5 0.5 1"/>
        </material>
      </visual>
    </link>
    <joint name="${tf_prefix}spraygun_joint" type="fixed">
     <parent link="${parent}" /> 
     <child link="${tf_prefix}spraygun_link" />
     <origin xyz="0 0 0.0" rpy="0 0 0"/>
    </joint>
  </xacro:macro>
</robot>

