<xacro:macro name="ar_spraygun" params="parent">
  <joint name="spray_joint" type="fixed">
    <parent link="${parent}"/>
    <child link="spray_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="spray_link">
    <visual>
      <geometry>
        <mesh filename="file://$(find annin_ar4_description)/meshes/ar4_mk3/spraygun_EE.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file://$(find annin_ar4_description)/meshes/ar4_mk3/spraygun_EE.stl"/>
      </geometry>
    </collision>
  </link>
</xacro:macro>
