<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
  <xacro:arg name="include_gripper" default="false"/>
  <xacro:arg name="include_spraygun" default="true"/>

  <!-- SRDFのマクロをインクルード -->
  <xacro:include filename="$(find annin_ar4_moveit_config)/srdf/ar_macro.srdf.xacro"/>
  <xacro:ar_srdf />

  <!-- グリッパーを追加 -->
  <xacro:if value="$(arg include_gripper)">
    <xacro:include filename="$(find annin_ar4_moveit_config)/srdf/ar_gripper_macro.srdf.xacro"/>
    <xacro:ar_gripper_srdf />
  </xacro:if>

  <!-- スプレーガンを追加 -->
  <xacro:if value="$(arg include_spraygun)">
    <xacro:include filename="$(find annin_ar4_moveit_config)/srdf/ar_spraygun_macro.srdf.xacro"/>
    <xacro:ar_spraygun />
  </xacro:if>

</robot>

