<?xml version="1.0" ?>
<!-- This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="ar_spraygun_srdf" params="tf_prefix">
    <group name="ar_spraygun">
      <link name="${tf_prefix}spraygun_base_link" />
      <joint name="${tf_prefix}spraygun_joint" />
    </group>
    <group_state name="default" group="ar_spraygun">
      <joint name="${tf_prefix}spraygun_joint" value="0" />
    </group_state>
    <disable_collisions link1="${tf_prefix}link_6" link2="${tf_prefix}spraygun_base_link" reason="Adjacent" />
  </xacro:macro>
</robot>
